In [1]:
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn import tree

In [2]:
df_1 = pd.read_csv("values_can_be_trained.csv")

In [3]:
df_2 = pd.read_csv("None_suicide_data.csv")

In [4]:
final_model_data = pd.concat([df_1 ,df_2])

In [5]:
final_model_data

,index,restatus,educ2003,monthdth,sex,age,placdth,marstat,weekday,year,...,XIII,XIV,XV,XVI,XVII,XVIII,XIX,XX,XXI,XXII
0,9.0,1.0,3.0,1.0,M,23.0,7.0,S,4.0,2014.0,...,0,0,0,0,0,0,1,1,0,0
1,24.0,1.0,4.0,1.0,M,20.0,7.0,S,6.0,2014.0,...,0,0,0,0,0,0,1,1,0,0
2,25.0,1.0,7.0,1.0,M,45.0,4.0,M,1.0,2014.0,...,0,0,0,0,0,0,1,1,0,0
3,32.0,1.0,3.0,1.0,M,34.0,4.0,M,4.0,2014.0,...,0,0,0,0,0,0,1,1,0,0
4,40.0,2.0,2.0,1.0,M,23.0,4.0,S,7.0,2014.0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315112,19589417.0,2.0,3.0,9.0,M,68.0,1.0,S,4.0,2020.0,...,0,0,0,0,0,0,0,0,0,0
315113,7375234.0,1.0,3.0,2.0,F,89.0,5.0,W,1.0,2016.0,...,0,0,0,0,0,0,0,0,0,0
315114,3444295.0,1.0,3.0,1.0,M,39.0,4.0,D,3.0,2015.0,...,0,0,0,0,0,0,0,0,0,0
315115,2938580.0,1.0,3.0,8.0,M,74.0,6.0,W,4.0,2015.0,...,0,0,0,0,0,1,0,0,0,0
315116,15301557.0,1.0,5.0,1.0,M,84.0,4.0,W,7.0,2019.0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
final_model_data['sex']

0         M
1         M
2         M
3         M
4         M
         ..
315112    M
315113    F
315114    M
315115    M
315116    M
Name: sex, Length: 630234, dtype: object

In [7]:
final_model_data = final_model_data.join(pd.get_dummies(final_model_data[['sex']]))

In [8]:
final_model_data['sex']

0         M
0         M
0         F
0         F
1         M
         ..
315115    M
315116    M
315116    M
315116    M
315116    M
Name: sex, Length: 1260468, dtype: object

In [9]:
final_model_data['marstat']

0         S
0         S
0         W
0         W
1         S
         ..
315115    W
315116    M
315116    M
315116    W
315116    W
Name: marstat, Length: 1260468, dtype: object

In [10]:
final_model_data = final_model_data.join(pd.get_dummies(final_model_data[["marstat"]]))

In [11]:
#final_model_data['injwork']

In [12]:
#final_model_data = final_model_data.join(pd.get_dummies(final_model_data[["injwork"]]))

In [14]:
final_model_data["mandeath"].replace({2: 1, 1: 0,3: 0,4: 0,5: 0,6: 0,7: 0}, inplace=True)

In [15]:
features= final_model_data.columns.tolist()
print(features,end="，")

['index', 'restatus', 'educ2003', 'monthdth', 'sex', 'age', 'placdth', 'marstat', 'weekday', 'year', 'injwork', 'mandeath', 'ranum', 'racer5', 'hspanicr', 'all_in_one', 'all_cat', 'I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X', 'XI', 'XII', 'XIII', 'XIV', 'XV', 'XVI', 'XVII', 'XVIII', 'XIX', 'XX', 'XXI', 'XXII', 'sex_F', 'sex_M', 'marstat_D', 'marstat_M', 'marstat_S', 'marstat_W']，

In [16]:
final_model_data = final_model_data.fillna(0)

In [17]:
final_model_data = final_model_data.loc[:, (final_model_data != 0).any(axis=0)]

In [18]:
final_model_data=final_model_data.drop(columns=['all_in_one', 'all_cat','injwork','sex','marstat'])

In [19]:
features= final_model_data.columns.tolist()
print(features,end="，")

['index', 'restatus', 'educ2003', 'monthdth', 'age', 'placdth', 'weekday', 'year', 'mandeath', 'ranum', 'racer5', 'hspanicr', 'I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X', 'XI', 'XII', 'XIII', 'XIV', 'XV', 'XVI', 'XVII', 'XVIII', 'XIX', 'XX', 'sex_F', 'sex_M', 'marstat_D', 'marstat_M', 'marstat_S', 'marstat_W']，

In [20]:
final_model_data.to_csv('final_model_data.csv')