In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import simple_icd_10 as icd
import matplotlib.pyplot as plt
import icd10 as icd10
import datacompy

In [2]:
df_raw = pd.read_csv("../Morality Data/2020.csv",nrows=50000,low_memory=False)
features= df_raw.columns.tolist()
print(features,end="，")

['restatus', 'educ1989', 'educ2003', 'educflag', 'monthdth', 'sex', 'age', 'ageflag', 'ager52', 'ager27', 'ager12', 'ager22', 'placdth', 'marstat', 'weekday', 'year', 'injwork', 'mandeath', 'methdisp', 'autopsy', 'activity', 'injury', 'ucod', 'ucr358', 'ucr113', 'ucr130', 'ucr39', 'eanum', 'econdp_1', 'econds_1', 'enicon_1', 'econdp_2', 'econds_2', 'enicon_2', 'econdp_3', 'econds_3', 'enicon_3', 'econdp_4', 'econds_4', 'enicon_4', 'econdp_5', 'econds_5', 'enicon_5', 'econdp_6', 'econds_6', 'enicon_6', 'econdp_7', 'econds_7', 'enicon_7', 'econdp_8', 'econds_8', 'enicon_8', 'econdp_9', 'econds_9', 'enicon_9', 'econdp_10', 'econds_10', 'enicon_10', 'econdp_11', 'econds_11', 'enicon_11', 'econdp_12', 'econds_12', 'enicon_12', 'econdp_13', 'econds_13', 'enicon_13', 'econdp_14', 'econds_14', 'enicon_14', 'econdp_15', 'econds_15', 'enicon_15', 'econdp_16', 'econds_16', 'enicon_16', 'econdp_17', 'econds_17', 'enicon_17', 'econdp_18', 'econds_18', 'enicon_18', 'econdp_19', 'econds_19', 'enicon_19', 'econdp_20', 'econds_20', 'enicon_20', 'ranum', 'record_1', 'record_2', 'record_3', 'record_4', 'record_5', 'record_6', 'record_7', 'record_8', 'record_9', 'record_10', 'record_11', 'record_12', 'record_13', 'record_14', 'record_15', 'record_16', 'record_17', 'record_18', 'record_19', 'record_20', 'race', 'brace', 'raceimp', 'racer3', 'racer5', 'hispanic', 'hspanicr', 'race40', 'occupation', 'occptnr', 'industry', 'indstryr']，

In [3]:
df_raw.drop(columns=['ageflag', 'ager52', 'ager27', 'ager12', 'ager22','methdisp', 'autopsy','ucr358', 'ucr113', 'ucr130', 'ucr39', 'eanum', 'econdp_1',\
    'econds_1', 'enicon_1', 'econdp_2', 'econds_2', 'enicon_2', 'econdp_3', 'econds_3', 'enicon_3', 'econdp_4', 'econds_4', 'enicon_4', 'econdp_5', 'econds_5', \
        'enicon_5', 'econdp_6', 'econds_6', 'enicon_6', 'econdp_7', 'econds_7', 'enicon_7', 'econdp_8', 'econds_8', 'enicon_8', 'econdp_9', 'econds_9', 'enicon_9',\
             'econdp_10', 'econds_10', 'enicon_10', 'econdp_11', 'econds_11', 'enicon_11', 'econdp_12', 'econds_12', 'enicon_12', 'econdp_13', 'econds_13', 'enicon_13', \
                'econdp_14', 'econds_14', 'enicon_14', 'econdp_15', 'econds_15', 'enicon_15', 'econdp_16', 'econds_16', 'enicon_16', 'econdp_17', 'econds_17', 'enicon_17', \
                    'econdp_18', 'econds_18', 'enicon_18', 'econdp_19', 'econds_19', 'enicon_19', 'econdp_20', 'econds_20', 'enicon_20'])

,restatus,educ1989,educ2003,educflag,monthdth,sex,age,placdth,marstat,weekday,...,raceimp,racer3,racer5,hispanic,hspanicr,race40,occupation,occptnr,industry,indstryr
0,1,NaN,1,1,1,F,1086,1,W,6,...,NaN,2,3,100,8,3,NaN,13.0,NaN,78.0
1,1,NaN,6,1,1,M,1064,4,S,5,...,NaN,1,1,100,6,1,NaN,3.0,NaN,93.0
2,1,NaN,4,1,1,F,1039,4,D,4,...,NaN,1,1,100,6,1,NaN,11.0,NaN,81.0
3,1,NaN,3,1,1,F,1059,4,S,5,...,NaN,3,2,100,7,2,NaN,22.0,NaN,99.0
4,1,NaN,3,1,1,M,1069,2,M,4,...,NaN,1,1,100,6,1,NaN,18.0,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2,NaN,3,1,10,M,1091,6,W,1,...,NaN,1,1,100,6,1,NaN,21.0,NaN,23.0
49996,1,NaN,4,1,9,M,1077,4,W,2,...,NaN,1,1,100,6,1,NaN,21.0,NaN,36.0
49997,2,NaN,3,1,10,F,1054,6,D,4,...,NaN,1,1,100,6,1,NaN,21.0,NaN,7.0
49998,1,NaN,7,1,9,F,1084,4,W,4,...,NaN,1,1,100,6,1,NaN,1.0,NaN,78.0
49999,1,NaN,3,1,10,M,1071,4,M,2,...,NaN,3,2,100,7,2,NaN,22.0,NaN,12.0

In [4]:
df_raw.dropna(axis=1,how='all')
df = df_raw.fillna(0)

In [5]:
df_str = pd.DataFrame(df)
df_str['age'] = df['age'].apply(str)
age_NotSpecified = list(df_str[df_str['age'].str.contains('999')].index)
df = df.drop(index = age_NotSpecified, axis=1)
df['age'] = df['age'].apply(int)

## 1.5 Decoding the age:
#### 1. if the first digit is 1, then the last three digits represent the age under years.
#### 2. if the first digit is 2, then the last three digits represent the age under months.
#### 3. if the first digit is 4, then the last three digits represent the age under days.
#### 4. if the first digit is 5, then the last three digits represent the age under hours.
#### 5. if the first digit is 6, then the last three digits represent the age under minutes.
#### 6. if any three digits are 999, then the age is not speficied.

Here we filter out the index of keys with unspecified age, and get the index list to drop at next step.

In [6]:
df.loc[(df['age']>=1000)&(df['age']<2000),'age']= df['age'] - 1000
df.loc[(df['age']>=2000)&(df['age']<3000),'age']=(df['age']-2000)/12
df.loc[(df['age']>=4000)&(df['age']<5000),'age']=(df['age']-4000)/365
#Although we have people died when they were just a couple of hours old, we actually can ignore that since since they were that young, it is impossible for them to "commit a df"
df[(df['age']>=5000)&(df['age']<6000)]
df.loc[(df['age']>=5000)&(df['age']<6000),'age']=(df['age']-5000)/24/365
#I am so sorry that you died so young babe!
df[(df['age']>=6000)&(df['age']<7000)]
df.loc[(df['age']>=6000)&(df['age']<7000),'age']=(df['age']-6000)/60/24/365

We throw away rows with unspecified features.

In [7]:
df=df.loc[df['educ2003'] != 9]
df=df.loc[df['marstat'] != 'U']
df=df.loc[df['weekday'] != 9]
df=df.loc[df['placdth'] != 9]
df=df.loc[df['injury'] != 'U']

In [8]:
import string
import numpy as np
alphabet = list(string.ascii_uppercase)

In [9]:
ICD10_X_list = ["ICD_1_" + alpha for alpha in alphabet]

df = pd.concat([df,pd.DataFrame(columns=ICD10_X_list)])

df.update(df[ICD10_X_list].fillna(0))

In [10]:
df_suicide = df.loc[df['mandeath'] == 2]

In [11]:
def ICD10_Categorize(df_in):

    all_record_list=[]
    for row in df_in.itertuples():
        all_rec=[]
        for col in range(int(getattr(row, 'ranum'))):
            all_rec.append(getattr(row,'record_'+str(col+1)))

        # all_record=(getattr(row, 'record_1'), getattr(row, 'record_2'), getattr(row, 'record_3'), 
        # getattr(row, 'record_4'), getattr(row, 'record_5'), getattr(row, 'record_6'), getattr(row, 'record_7'), 
        # getattr(row, 'record_8'), getattr(row, 'record_9'), getattr(row, 'record_10'),getattr(row, 'record_11'), 
        # getattr(row, 'record_12'), getattr(row, 'record_13'), getattr(row, 'record_14'), getattr(row, 'record_15'), 
        # getattr(row, 'record_16'), getattr(row, 'record_17'), getattr(row, 'record_18'), getattr(row, 'record_19'), 
        # getattr(row, 'record_20'))
        all_record_list.append(list(all_rec))
    
    all_cat_list=[]
    for row in df_in.itertuples():
        all_cat = []
        for col in range(int(getattr(row, 'ranum'))):

            code = icd10.find(getattr(row, 'record_'+str(col+1)))
            if code == None:
                break
            try:
                all_cat.append(code.block_description)
            except:
                all_cat.append(code.description)

    
        all_cat_list.append(list(all_cat))
   
    df_record = pd.DataFrame(all_record_list)
    df_record['all_in_one']=df_record[df_record.columns[0:]].apply(lambda x: ','.join(x[x!=0].astype(str)),axis=1)
    

    df_cat = pd.DataFrame(all_cat_list)
    df_cat.fillna(value=0,inplace= True)
    

    df_cat['all_cat']=df_cat[df_cat.columns[0:]].apply(lambda x: ';'.join(x[x!=0].astype(str)),axis=1)
    

    df_rec_cat=pd.concat([df_record['all_in_one'],df_cat['all_cat']],axis=1)

    df_out = pd.concat([df_in.reset_index(inplace=True),df_rec_cat], axis=1)

    df= df_in.reset_index(drop=True)

    return pd.concat([df,df_out],axis=1)


df_combined=ICD10_Categorize(df_suicide)

<bound method DataFrame.info of      index  restatus  educ1989  educ2003  educflag  monthdth sex   age  \
0        1       1.0       0.0       6.0       1.0       1.0   M  64.0
1        2       1.0       0.0       4.0       1.0       1.0   F  39.0
2        5       1.0       0.0       3.0       1.0       1.0   M  20.0
3       18       1.0       0.0       3.0       1.0       1.0   F  65.0
4       55       1.0       0.0       4.0       1.0       1.0   F  31.0
..     ...       ...       ...       ...       ...       ...  ..   ...
799  49766       1.0       0.0       2.0       1.0      10.0   M  23.0
800  49826       2.0       0.0       6.0       1.0       9.0   M  40.0
801  49879       1.0       0.0       2.0       1.0       9.0   M  27.0
802  49906       1.0       0.0       2.0       1.0       9.0   M  73.0
803  49957       3.0       0.0       4.0       1.0      10.0   M  29.0

     ageflag  ager52  ...  ICD_1_S  ICD_1_T  ICD_1_U  ICD_1_V ICD_1_W  \
0        0.0    38.0  ...        0        0        0        0       0
1        0.0    33.0  ...        0        0        0        0       0
2        0.0    30.0  ...        0        0        0        0       0
3        0.0    39.0  ...        0        0        0        0       0
4        0.0    32.0  ...        0        0        0        0       0
..       ...     ...  ...      ...      ...      ...      ...     ...
799      0.0    30.0  ...        0        0        0        0       0
800      0.0    34.0  ...        0        0        0        0       0
801      0.0    31.0  ...        0        0        0        0       0
802      0.0    40.0  ...        0        0        0        0       0
803      0.0    31.0  ...        0        0        0        0       0

     ICD_1_X  ICD_1_Y ICD_1_Z  \
0          0        0       0
1          0        0       0
2          0        0       0
3          0        0       0
4          0        0       0
..       ...      ...     ...
799        0        0       0
800        0        0       0
801        0        0       0
802        0        0       0
803        0        0       0

                                            all_in_one  \
0    X74,S219,S299,T141,None,None,None,None,None,No...
1    X74,S019,S069,T141,None,None,None,None,None,No...
2    X74,S019,T141,None,None,None,None,None,None,No...
3    X74,S019,S069,T141,None,None,None,None,None,No...
4    X70,G931,S129,T71,None,None,None,None,None,Non...
..                                                 ...
799  X74,S019,None,None,None,None,None,None,None,No...
800  X74,S219,T141,None,None,None,None,None,None,No...
801  X70,T71,None,None,None,None,None,None,None,Non...
802  X70,T71,None,None,None,None,None,None,None,Non...
803  X70,F191,F39,G419,G931,I469,R688,T71,None,None...

                                               all_cat
0    External causes of morbidity and mortality;Inj...
1    External causes of morbidity and mortality;Inj...
2    External causes of morbidity and mortality;Inj...
3    External causes of morbidity and mortality;Inj...
4
..                                                 ...
799  External causes of morbidity and mortality;Inj...
800  External causes of morbidity and mortality;Inj...
801
802
803

[804 rows x 150 columns]>

In [12]:
icd_chapter=pd.DataFrame(icd10.chapters)
icd_chapter.rename(columns={0:'Chapter',1:"Block",2:"Description"},inplace=True)
all_chapter=icd_chapter['Chapter'].tolist()

In [74]:
df_all_blocks= pd.concat([df_combined,pd.DataFrame(columns=all_chapter)],sort=False)

In [82]:
def chapter(df_in):
    all_chap_list=[]
    for row in df_in.itertuples():
        all_chap = []
        for col in range(int(getattr(row, 'ranum'))):

            code = icd10.find(getattr(row, 'record_'+str(col+1)))
            if code == None:
                break
            try:
                all_chap.append(code.chapter)
            except:...

        all_chap_list.append(list(all_chap))
    
    df_chapter = pd.DataFrame(all_chap_list)
    df_chapter.fillna(value=0,inplace= True)

    df_chapter['all_cha']=df_chapter[df_chapter.columns[0:]].apply(lambda x: ';'.join(x[x!=0].astype(str)),axis=1)
    
    print(df_chapter)
    

    #df_chapter = df_chapter['']
    df_out = pd.concat([df_in,df_chapter.loc[:,'XXII']], axis=1)

    return df_out

df_out=chapter(df_all_blocks)

      0    1    2  3  4  5  6  7     all_cha
0    XX  XIX  XIX  0  0  0  0  0  XX;XIX;XIX
1    XX  XIX  XIX  0  0  0  0  0  XX;XIX;XIX
2    XX  XIX    0  0  0  0  0  0      XX;XIX
3    XX  XIX  XIX  0  0  0  0  0  XX;XIX;XIX
4     0    0    0  0  0  0  0  0
..   ..  ...  ... .. .. .. .. ..         ...
799  XX  XIX    0  0  0  0  0  0      XX;XIX
800  XX  XIX    0  0  0  0  0  0      XX;XIX
801   0    0    0  0  0  0  0  0
802   0    0    0  0  0  0  0  0
803   0    0    0  0  0  0  0  0

[804 rows x 9 columns]

KeyError: 'XXII'

In [ ]:
dict_ICD = {}
for i in ICD10_X_list:
    dict_ICD[i[-1]] = df_combined[i].sum()

In [ ]:
fig = plt.figure(figsize = (10, 5))
 
# creating the bar plot
plt.bar(dict_ICD.keys(), dict_ICD.values(), color ='maroon')
plt.xlabel("First Code of ICD 10")
plt.ylabel("Occurance Values")

T and S should be outlier because it is caused by the suicides.

X is the same

In [ ]:
outlier = ['X', 'S', 'T']

for key in outlier:
    del dict_ICD[key]

In [ ]:
fig = plt.figure(figsize = (10, 5))
 
# creating the bar plot
plt.bar(dict_ICD.keys(), dict_ICD.values(), color ='maroon')
plt.xlabel("First Code of ICD 10")
plt.ylabel("Occurance Values")

In [ ]:
ICD=df_combined.loc[:,'ICD_1_A':'ICD_1_Z']
corr_matrix = ICD.corr(method='pearson')
sorted_mat = corr_matrix.unstack().sort_values()


plt.figure(figsize=(58,58))
sns.heatmap(corr_matrix,annot=True, cmap='coolwarm',fmt='.2f')

In [ ]:
##Below I printed out the coefficient.

In [ ]:
code = icd10.find('F900')
print(code.block_description)

In [ ]:
#df.to_csv(r'../Morality Data/2020_preprocessed.csv',index=False)